
h1 {
  font-size: 1rem;
  font-weight: 200;
  margin: 0;
  color: white;
}

h2 {
  font-size: 1rem;
  font-weight: 200;
  margin: 0;
  color: rgb(189, 189, 189);
}

h3 {
  font-size: 1rem;
  font-weight: 200;
  margin: 0;
  color: rgb(189, 189, 189);
  line-height: 2rem;
}

.highlight {
  color: rgb(255, 193, 32);
}


.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  flex: 1; 
  overflow-y: auto; 
  justify-content: space-between;
  overflow: visible;
}


.container {
  width: calc(50% - 10px); 
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative; 
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Project Info */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative; 
}

/* Default Image */
.default-image {
  width: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
  transition: opacity 0.5s ease; 
}

/* Hover Image */
.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
  opacity: 0; 
  transition: opacity 0.5s ease; 
  z-index: 1; 
}

.container:hover .hover-image {
  opacity: 1; 
}

.container:hover .default-image {
  opacity: 0; 
}


.text-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  position: relative; 
  z-index: 2; 
}

.name {
  text-align: left;
  flex: 1;
}

.category {
  text-align: right;
  flex: 1;
}

/* Project Details Container */
.project-details-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

/* Left Side: Text Information */
.project-info {
  width: 100%; /* Fixed width for the text section */
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 30px;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.project-info h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  line-height: 0.5rem;
}

.project-info h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.project-info p {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Right Side: Scrollable Images */
.project-images {
  width: 100%; 
  box-sizing: border-box;
  overflow-y: auto; /* Allow scrolling for images */
  transition: all 0.9s ease;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.project-images img {
  width: 100%;
  margin-bottom: 20px;
  height: auto;
}

@media (max-width: 767px) {
  .container {
    width: 100%; 
    height: auto; 
  }

  img {
    height: auto; 
  }

  .header-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    width: calc(50% - 20px);
    height: 50vh;
  }

  img {
    height: calc(50vh - 60px);
  }

  .project-details-container {
    flex-direction: row; 
  }

  .project-info {
    width: 30%; 
    position: fixed; 
    left: 0;
    top: 80px; 
    bottom: 60px; 
    overflow-y: auto; 
  }

  .project-images {
    width: 70%; 
    margin-left: 30%; 
  }
}


.cascade-item {
  opacity: 0; 
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.page-enter {
  animation: fadeIn 0.9s ease-in-out;
}